doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Piklu Dey, Node Js Express Wesite')
  meta(name='generator' content='Jekyll v3.8.5')
  link(href='css/bootstrap.css' rel='stylesheet' crossorigin='anonymous')
  block title
    title Jumbotron Template &middot; Bootstrap
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  a.navbar-brand(href='/') PC Repair
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
        a.nav-link(href='/contact') Contact
main(role='main')
  .container
    block content
  hr
footer.container
  p &copy; Company 2017-2019
